* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  background-color: #6e7dab;
}

.slider-wrapper {
  height: 65vh;
  width: 75vw;
  background-color: #94a8e5;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.slider-wrapper img {
  flex: 1 0 75vw;
  width: 75vw;
  height: 65vh;
  position: absolute;
  transition: 1s;
}
