* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  background-color: #6e7dab;
  flex-direction: column;
}

.slider-wrapper {
  height: 65vh;
  width: 75vw;
  background-color: #94a8e5;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.slider-wrapper img {
  flex: 1 0 75vw;
  width: 75vw;
  height: 65vh;
  position: absolute;
  transition: 1s;
}

.btn {
  height: 20vh;
  width: 10vw;
  font-size: 10rem;
}

section {
  display: flex;
  align-items: center;
}

.circle-wrapper {
  margin: 50px auto;
  width: 200px;

  display: flex;
  justify-content: space-around;
}

.circle {
  height: 25px;
  width: 25px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
}

.circle:hover {
  background-color: #bbb;
  cursor: pointer;
}

.active {
  background-color: #bbb;
}
